_old/
immersion-intro/Ultra Immersive.zip
immersion-intro/Ultra Unimmersive.zip
Modpack-Maker.code-workspace

node_modules/

dist/
out/
release/
*.asar

.DS_Store
Thumbs.db

npm-debug.log*
yarn-debug.log*
yarn-error.log*

.env
.env.local
.env.*.local
*.pem
*.p12
*.key
*.mobileprovision

.cache/
electron-cache/
electron-builder-cache/

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

actions-runner/
_runner/