:root
{
    --black: #00000000;
    /* --primary: #050515; */
    --primary: #02020700;
    /* --primary: linear-gradient(-180deg, #0f0f1e, #020207) no-repeat center center fixed; */
    --primary-color: #050515;
    /* --text: #f3f3ffda; */
    --text: #f3f3ffaa;
    --overline: #333399;
    --important: #aaaaffb0;
    --window-border: #f3f3ff50;

    --border-width: 0.5px;
}
* { font-family: 'SF Mono'; color: var(--text); word-spacing: 2px; background-size: 100vw 100vh; }


body
{
    margin: 0;
    background: #07070e;
}
p{margin: 0;}
::selection
{
    color: #f3f3ff;
    background: var(--overline);
}
:is(h1, h2, h3, h4, h5, h6) { font-weight: 500; }

/* Button */
button
{
    background: #00000000;
    border: var(--text) solid var(--border-width);
    cursor: pointer;
    padding: 5px;
    font-size: medium;
    margin-top: 5px;
    transition: all 50ms;
}
button:hover:not(:disabled)
{
    background: var(--text);
    border: var(--primary) solid var(--border-width);
    color: var(--primary-color);
    font-weight: normal;
}
button:disabled{opacity: 0.6; cursor: no-drop;}

/* Select */
select
{
    background: #00000000;
    border: var(--text) solid var(--border-width);
    font-size: medium;
    transition: all 100ms;
    outline: none;
    cursor: pointer;
}
select option { background-color: var(--primary-color); }
select optgroup { background-color: var(--primary-color); }
select::-webkit-scrollbar {display: none;}

/* Input */
input[type="text"]
{
    background: #00000000;
    border: var(--text) solid var(--border-width);
    padding: 5px;
    font-size: medium;
    transition: all 100ms;
    outline: none;
}
textarea
{
    background: #00000000;
    border: var(--text) solid var(--border-width);
    padding: 5px;
    font-size: medium;
    transition: all 100ms;
    outline: none;
    resize: none;
    overflow: auto;
}
textarea::-webkit-scrollbar { display: none; }
label:has(> input[type="checkbox"])
{
    margin-top: 5px;
    display: block;
    position: relative;
    padding-left: 22px;
    height: 15px;
    descent-override: 100%;
    cursor: text;
    translate: 0 2px;
    width: fit-content;
    height: auto;
}
label:has(> input[type="checkbox"]) input[type="checkbox"]
{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
label:has(> input[type="checkbox"]) span
{
    translate: 0 -2px;
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background: #00000000;
    border: var(--text) solid;
    border-width: 1px;
}
label:has(> input[type="checkbox"]) input[type="checkbox"]:checked ~ span
{
    background: var(--text);
    border: var(--primary) solid;
    border-width: 1px;
    height: 15px;
    width: 15px;
}
label:has(> input[type="checkbox"]) > span:hover
{
    background: #00000000;
    border: var(--text) solid;
    border-width: 2px;
    height: 13px;
    width: 13px;
}

/* Table */
table
{
    border-collapse: collapse;
    border: 2px solid var(--window-border);
    font-family: sans-serif;
    font-size: 1em;
    letter-spacing: 1px;
}
caption
{
    caption-side: top;
    padding: 4px;
    font-weight: bold;
}
thead, tfoot
{
    background-color: var(--overline);
}
th, td
{
    border: 1px solid var(--window-border);
    padding: 4px 8px;
    font-weight: 500;
}
td:last-of-type
{
    text-align: center;
}
tbody > tr:nth-of-type(even)
{
    background-color: var(--primary-color);
}
tfoot th
{
    text-align: right;
}
tfoot td
{
    font-weight: bold;
}


@font-face
{
    font-family: 'SF Mono';
    src: url(../resources/sf-mono/SFMonoLight.otf);
    size-adjust: 75%;
    line-gap-override: 0%;
    descent-override: 25%;
    ascent-override: 85%;
    font-stretch: 50% 200%;
}
@font-face
{
    font-family: 'minecraft';
    src: url(../resources/Minecraftia-Regular.ttf);
    size-adjust: 75%;
    line-gap-override: 0%;
    descent-override: 25%;
    ascent-override: 85%;
    font-stretch: 50% 200%;
}
@font-face
{
    font-family: 'minecraft-alt';
    src: url(../resources/Minecraftia-Regular.ttf);
    size-adjust: 75%;
}

#drag-window
{
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -webkit-app-region: drag;
}

.panel
{
    background: var(--primary);
    padding: 5px;
    min-width: 30px;
    min-height: 30px;
    max-width: 50%;
    border: var(--window-border) solid var(--border-width);
}

/* File Explorer */
.file-explorer
{
    display: flex;
    /* width: 500px;
    height: 300px; */
    padding-bottom: 7px;
    /* padding-right: 0; */
    overflow: hidden;
}
.file-explorer > div
{
    overflow: auto;
    height: 100%; margin: 0;
    border: var(--window-border) solid var(--border-width);
    margin: 0;
    margin-right: -1px;
    width: 200px;
    padding: 0;
    margin-bottom: 5px;
}
.folder-content{border: transparent;overflow: hidden;}
.folder-content
{
    display: flex;
    /* grid-template-columns: 50% 50%; */
    height: calc(100% - 17px); width: 100%;
    overflow: scroll;
}
.folder-content > div:first-of-type { border: transparent; }
.folder-content > div { overflow: auto; width: 100%; /* max-width: 300px; */ border: transparent; border-left: var(--window-border) solid var(--border-width); }
.folder-content > div:last-of-type { max-width: 100%; }
/* .folder-content > div:first-of-type:last-of-type { max-width: 350px; } */
.folder-content button
{
    border: none;
    margin: 0;
    width: 100%;
    height: 20px;
    text-align: left;
    transition: all 0ms;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.folder-content button[in-path] { background-color: #FFFFFF40; }
.folder-content button[highlight] { background-color: var(--overline); }
.folder-content > div[highlight] { outline: var(--overline) solid 3px; outline-offset: -3px; overflow-x: hidden; }
.folder-content button:focus{animation: none;}
.folder-content button::before
{
    font-family: minecraft;
    content: url(../resources/file.png);
    position:relative; 
    scale: 2;
    image-rendering: pixelated;
    opacity: 0.7;
    right: 4px;
    margin-left: 4px;
}
.folder-content button > span
{
    width: calc(100% - 60px);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}
.folder-content button > input
{
    width: calc(100% - 60px);
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    pointer-events: none;
}
.folder-content button::before
{
    background-image: var(--custom-icon);
    background-size: cover;
    display: inline-block;
    width: 8px; 
    height: 8px;
    content: "";
    margin-left: 5px;
    margin-right: 2px;
    margin-bottom: 4px;
}
.folder-content button[icon]:hover::before { filter: brightness(1.3); }
.folder-content button[folder]::before { background-image: url(../resources/folder.png); filter: brightness(1) !important }
.folder-content button[folder]:has(input) { height: 21px; }
.folder-content button[folder]:has(input)::before { margin-bottom: 1px; }
.folder-content button[add]::before { background-image: url(../resources/add.png); filter: brightness(1) !important }
.folder-content button:hover::before { filter: brightness(0.2); }
.folder-content button:hover {text-decoration: underline;border: 0px; background: #ffffff18;}
.folder-content button[selected]:hover {text-decoration: underline;border: 0px; background: #ffffff88;}
.folder-content button[in-path]:hover {text-decoration: underline;border: 0px; background: #ffffff60;}
.folder-content button > input { border: transparent; padding: 0; }

.folder-content button[icon][selected]::before { filter: brightness(1.3); }
.folder-content button[selected] {text-decoration: underline; background: #ffffff60;}
.folder-content button[selected]::before { filter: brightness(0.2); }
.folder-content:has(>*[highlight]) button:hover { background: transparent; color: var(--text); text-decoration: none; }
.folder-content:has(>*[highlight]) button:hover::before { filter: brightness(1); }

.folder-content button > button
{
    border: none;
    margin: 0; padding: 0;
    width: 20px;
    height: 20px;
    background-size: 15px 15px;
    background-position: 2.5px 2.5px;
    background-repeat: no-repeat;
    image-rendering: pixelated;
    margin-top: -5px;
    opacity: 0.4;
    float: right;
}
.folder-content button > button:hover{opacity: 0.8;}
.folder-content button > button::before{content: none;}

.folder-content button > button:nth-child(2) { background-image: url(../resources/delete.png); }
.folder-content button > button:nth-child(3) { background-image: url(../resources/enabled.png); }
.folder-content button > button:hover { background-position: 2.5px 2.5px; background-size: 15px 15px; background-repeat: no-repeat; }

.content-slider
{
    text-align: left;
    display: flex;
    overflow: hidden;
    height: 100px;
    direction:ltr;
}

/* Side Panels */
.side-panel
{
    background: var(--primary);
    padding: 0;
    margin: 0;
    overflow:auto;
    position: absolute;
    overflow: hidden;
}
#left-panel
{
    resize: horizontal;
    min-width: 100px;
    max-width: 50%;
    width: 20%;
    left: 0;
    height: calc(100vh - 12px);
    direction:ltr;
    border-right: var(--window-border) solid var(--border-width);
    display: none;
}
#right-panel
{
    resize: horizontal;
    min-width: 256px;
    max-width: 50%;
    width: 20%;
    right: 0;
    height: calc(100vh - 12px);
    direction:rtl;
    border-left: var(--window-border) solid var(--border-width);
}
#right-panel > * { direction: ltr; }
#bottom-panel
{
    resize: vertical;
    min-height: 100px;
    max-height: calc(100% - 128px);
    height: 20%;
    bottom: 0;
    width: 100vw;
    direction:rtl;
    /* transform: rotate(180deg); */
    border-bottom: var(--window-border) solid var(--border-width);
    transform: scaleY(-1);
}
#bottom-panel > *
{
    direction:ltr;
    transform: scaleY(-1);
    height: 100%;
}
#top-panel
{
    resize: vertical;
    min-height: 60px;
    max-height: 50%;
    height: 60px;
    margin: 0;
    top: 0;
    width: 100vw;
    direction:ltr;
    border-bottom: var(--window-border) solid var(--border-width);
}
#center-panel{position: fixed;}

#right-panel > .resize-hand
{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 8px;
    cursor: ew-resize;
    z-index: 1;
}
#top-panel > .resize-hand
{
    position: absolute;
    left: 0;
    top: calc(100% - 8px);
    height: 8px;
    width: 100%;
    cursor: ns-resize;
    z-index: 1;
}
#bottom-panel > .resize-hand
{
    position: absolute;
    left: 0;
    top: calc(100% - 8px);
    height: 8px;
    width: 100%;
    cursor: ns-resize;
    z-index: 1;
}

#top-tab
{
    height: 27px;
    direction: rtl;
    flex-direction: row-reverse;
}
#top-tab > button { height: 28px; text-overflow:clip }

.tab
{
    display: flex;
    margin: 0;
    border-bottom: var(--window-border) solid var(--border-width);
    background: var(--primary);
    height: 25px;
    overflow: hidden;
}
.tab > button
{
    margin: 0;
    height: 25px;
    padding-left: 10px; padding-right: 10px;
    transition: none;
    max-width: 100%;
    border-left: transparent;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tab > button:first-child { border-left: var(--text) solid var(--border-width); }
.tab[anchor-top] > button { border-top: #00000000; }
.tab[anchor-bottom] > button { border-bottom: #00000000; }
.tab[anchor-bottom] { border-bottom: #00000000; }
.tab[anchor-left] > button { border-left: #00000000; }
.tab[anchor-left] { border-left: #00000000; }
.tab[anchor-right] > button { border-right: var(--text) solid var(--border-width); }
.tab[anchor-right] > button:last-child { border-right: #00000000; }
.tab[fill-width] > button { width: -webkit-fill-available; }

.tab > button[current="true"]
{
    background: var(--text);
    border-color: #00000000;
    color: var(--primary-color);
    font-weight: normal;
}
button:hover:not([current="true"]){opacity: 0.5;}
/* .tab > button:hover{border-color: #00000000;} */

/* Center Tab Content */
#game-window
{
    image-rendering: pixelated;
    object-fit: 100% 100%;
    image-resolution: from-image;
    background-color: #000;
    width: 100%;
    height: 100%;
}
#game-container
{
    height: calc(100% - 26px);
}
#game-container > div
{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% 0;
    text-align: center;
}
#console-window
{
    background-color: #000000;
    width: 100%; max-height: calc(100% - 27px);
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: auto;
}
*::-webkit-scrollbar
{
    width: 4px;
    height: 8px;
    background: var(--primary);
}
*::-webkit-scrollbar-thumb
{
    background: var(--window-border);
}
#console-window
{
    background-color: #000000;
    width: 100%;
    max-height: calc(100% - 27px);
    overflow: hidden;
    overflow-y: scroll;  
    scroll-behavior: auto;
    height: 100%;
}
#console-window::-webkit-scrollbar { width: 8px; background: var(--primary); }
#console-window::-webkit-scrollbar-thumb { background: var(--window-border); }
#class-window
{
    background-color: var(--black);
    width: 100%; height: 100%;
    overflow: hidden;
}
#class-window > div:last-child
{
    overflow: hidden;
    overflow-y: scroll;
    scroll-behavior: auto;
    max-height: calc(100% - 52px);
}
#class-window > div:last-child::-webkit-scrollbar { width: 8px; background: var(--primary); }
#class-window > div:last-child::-webkit-scrollbar-thumb { background: var(--window-border); }
#class-window > div { max-height: 25px; }
#class-window > div > input
{
    position: relative;
    z-index: 5;
    width: -webkit-fill-available;
    margin: 0;
    margin-top: -1px;
    border-left: #00000000; border-right: #00000000;
}
#class-window > div > button
{
    position: relative;
    z-index: 4;
    margin: 0;
    width: -webkit-fill-available;
    text-align: start;
    border-top: #00000000;
    background: var(--primary);
}
#class-window > div > button:hover { background-color: var(--text); }
#web-window { width: 100%; height: calc(100% - 26px); }
#web-window > div
{
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    text-align: center;
}
#web-window > div > div{display: flex;}
#web-window > div > div > button {margin-right: 8px;}
#web-window > div > div > button:last-child {margin-right: 0;}
#web-window > webview { width: 100%; height: 100%; border: #00000000; }

/* Game Controls */
#game-controls
{
    display: flex;
    position: fixed;
    left: 50%; top: 8px;
    translate: -50% 0;
    z-index: 10;
    direction: ltr;
    -webkit-app-region: no-drag;
}
#game-controls > button:first-child
{
    border-left: var(--text) solid var(--border-width);
}
#game-controls > button
{
    background-color: var(--primary-color);
    border-left: #00000000;
    margin: 0;
    width: 54px; height: 40px;

    image-rendering: pixelated;
    background-repeat: no-repeat;
    background-size: 27px 27px;
    background-position: 50% 50%;
    filter: brightness(0.8);
}
#game-controls > button[play] { background-image: url(../resources/play.png);}
#game-controls > button[pause] { background-image: url(../resources/pause.png); background-color: var(--overline); }
#game-controls > button[stop] { background-image: url(../resources/stop.png);}
#game-controls > button[kill] { background-image: url(../resources/kill.png) !important;}
#game-controls > button[load] { animation: loading-circle 1s infinite; background-color: var(--overline); }
#game-controls > button[resume] { background-image: url(../resources/play.png); background-color: var(--overline); }
@keyframes loading-circle
{
    0% { background-image: url(../resources/load_1.png); }
    12.5% { background-image: url(../resources/load_2.png); }
    25% { background-image: url(../resources/load_3.png); }
    37.5% { background-image: url(../resources/load_4.png); }
    50% { background-image: url(../resources/load_5.png); }
    62.5% { background-image: url(../resources/load_6.png); }
    75% { background-image: url(../resources/load_7.png); }
    82.5% { background-image: url(../resources/load_8.png); }
    100% { background-image: url(../resources/load_1.png); }
}

#game-controls > button:hover
{
    background-color: var(--overline);
    border: var(--text) solid var(--border-width);
    border-left: #00000000;
    opacity: 1;
}
#game-controls > button:first-child:hover { border: var(--text) solid var(--border-width); }


/* Bottom Tab */
#general-settings *
{
    margin: 5px; margin-right: -5px; margin-bottom: 0;
}
#instance-name { width: calc(100% - 24px); }
#general-settings div { margin: 0; }
#general-settings > div:has(> label)
{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 5px;
}
#general-settings > div > label:has(>select){display: block; margin: 0;}
#general-settings > div > label > select{display: block; width: calc(100% - 10px);}
#general-settings > label { width: calc(100% - 40px); }
#browse-panel
{
    height: calc(100% - 22px);
}
.item-settings
{
    text-align: center;
    padding: 5px;
    height: 100%;
    width: calc(100% - 10px);
}
.item-settings > input[type="text"]
{
    width: calc(100% - 13px);
    margin-left: -1px;
    /* margin: 5px; */
}
.item-download-list
{
    height: calc(100% - 92px);
    text-align: start; padding: 5px;
    overflow-y: auto;
    width: calc(100% - 5px);
    flex-wrap: wrap;
    display: flex;
    padding-left: 0;
}
.item-download-list > div
{
    border: var(--text) solid var(--border-width);
    margin-bottom: 5px; margin-right: 5px;
    display: flex;
    min-width: 200px;
    height: 70px;
    flex: 1 1 0;
    cursor: pointer;
}
.item-download-list > div:hover { background: var(--overline); }
.item-download-list > div[selected]
{
    border-color: var(--important);
    color: var(--important);
}
.item-download-list > div[installed] { opacity: 0.7; }
.item-download-list > div > div > div { display: flex; }
.item-download-list > div > div > div > h4
{
    margin: 0; margin-top: 4px; font-family: minecraft-alt;
    line-break: anywhere;
    display: -webkit-box;
    line-break: anywhere;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}
.item-download-list > div[selected] > div > div > h4 { color: var(--important); }
.item-download-list > div > div > div > div
{
    background-image: url('../resources/website-logos/modrinth.png');
    background-size: contain;
    background-position: 50% 50%;
    min-width: 20px; 
    height: 20px;
    margin-top: 3px;
    margin-right: 4px;
    background-repeat: no-repeat;
}
.item-download-list > div > div > p
{
    max-height: 45px;
    display: -webkit-box;
    line-break: anywhere;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    margin-top: -2px;
}
.item-download-list > div[selected] > div > p { color: var(--important); }
.item-download-list > div > img { min-width: 70px; height: 70px; margin-right: 5px; }
.item-browser-filter { padding: 0; }

/* Rigth Panel */
#mod-info-panel
{
    direction: ltr;
    padding: 5px;
    width: calc(100% - 10px);
    /* height: calc(100% - 10px); */
    resize: vertical;
    height: calc(100% - 218px);
    display: none;
}
#mod-info-panel > p { opacity: 0.7; margin-bottom: 12px; max-height: 128px; overflow: auto; }
#mod-info-panel > div:first-of-type { display: flex; margin-bottom: 12px; }
#mod-info-panel > div:first-of-type > img { object-fit: contain; max-width: 100px; max-height: 100px; margin-right: 5px; min-height: 100px; image-rendering: pixelated; }
#mod-info-panel > .content-slider { height: 150px; background-color: #00000080; min-width: 100%; }
#mod-info-panel > #supporting { display: grid; grid-template-columns: repeat(4, 1fr); margin-top: 12px; word-spacing: -1px; }
#mod-info-panel > #supporting > * { position: relative; left: 50%; translate: -50%; width: fit-content; }
#mod-info-panel > #supporting > img { filter: brightness(0.8); image-rendering: pixelated; height: 32px; width: 32px; margin-right: 6px; }
#mod-info-panel > #supporting > div > img { filter: brightness(0.8); image-rendering: pixelated; height: 32px; width: 32px; margin-right: 6px; }
#mod-info-panel > #supporting > div > span
{
    font-family: minecraft;
    font-size: large;
    position: absolute;
    translate: -16px 32px;
    color: white;
    text-shadow: #000 -1px -1px 5px;
}

#mod-info-panel > #actions { display: grid; grid-template-columns: repeat(4, 1fr); margin-top: 12px; }
#mod-info-panel > #actions > * { position: relative; left: 50%; translate: -50%; width: fit-content; }
#mod-info-panel > #actions > button
{
    height: 32px; width: 32px;
    image-rendering: pixelated;
    background-size: contain;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    border: none;
    filter: brightness(0.8);
}
#mod-info-panel > #actions > button:hover { background-color: #00000000; filter: brightness(1); }
#mod-info-panel > #actions > button[delete] { background-image: url(../resources/delete.png); }
#mod-info-panel > #actions > button[enable] { background-image: url(../resources/enabled.png); }
#mod-info-panel > #actions > button[edit] { background-image: url(../resources/edit.png); }
#mod-info-panel > #actions > button[config] { background-image: url(../resources/config.png); }


/* Image Zoom */
#image-zoom
{
    position: fixed;
    width: 100vw; height: 100vh;
    background: #00000050;
    z-index: 50;
}
#image-zoom > img
{
    position: fixed;
    left: 50%; top: 50%;
    translate: -50% -50%;
}
#image-zoom > button
{
    position: fixed;
    width: 50px; height: 50px;
    border: #00000000;
    padding: 0;
    font-size: 30px;
}
#image-zoom > button[close] { right: 10px; top: 0px; }
#image-zoom > button[left] { left: 10px; top: 50%; translate: 0 -50%; }
#image-zoom > button[right] { right: 10px; top: 50%; translate: 0 -50%; }
.openable-image { cursor: pointer; }

/* Youtube */
#youtube-window { width: 100%; height: calc(100% - 26px); }
#youtube-integration
{
    width: 100%; height: 100%;
}

#bottom-webview-container { width: 100%; height: 100%; }
#bottom-webview-container > webview { width: 100%; height: 100%; }

#config-panel
{
    display: grid;
    grid-auto-rows: 20px 100%;
    max-height: 100%;
    max-width: 100%;
    height: calc(100% - 52px);
}
#config-container
{
    height: 100%;
    overflow: hidden;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-behavior: auto;
    max-width: 100%;
}
#config-container > button
{
    margin: 0;
    display: flex;
    width: 100%;
    height: 20px;
    padding: 0;
    border: #00000000;
}
#config-container > button > h4
{
    position: relative;
    top: 50%; translate: 0 -50%;
    margin: 0;
    text-align: left;
    width: calc(100% - 44px);
    font-size: larger;
    height: min-content;
    margin-left: 6px;
    font-weight: normal;
}
#config-container > button > img
{
    margin: 0;
    height: 100%;
    image-rendering: pixelated;
    scale: 0.5;
}
#config-container > div
{
    margin: 0;
    display: flex;
    width: 100%;
    height: 16px;
    padding: 0;
    border: var(--window-border) solid var(--border-width);
    cursor: pointer;
    border-top: transparent; border-right: transparent;
    margin-bottom: 8px;
}
#config-container > div:hover { border: var(--text) solid var(--border-width); border-top: transparent; border-right: transparent; }
#config-container > div > span
{
    position: relative;
    top: 50%; translate: 0 -50%;
    margin: 0;
    text-align: left;
    width: calc(100% - 38px);
    font-size: medium;
    height: min-content;
    margin-left: 6px;
    width: max-content;
    white-space: nowrap;
    padding-right: 8px;
}
#config-container > div[boolean] > label
{
    position: relative;
    top: 50%; translate: 0 -50%;
    margin: 0; width: 17px; height: 17px;
}
#config-container > div[boolean] > span{ width: 100%; }
#config-container > div[boolean] > label > span { margin: 0; translate: 0; }
#config-container > div[string] > input { margin: 0; translate: 0; width: 100%; border-color: var(--window-border); }
#config-container > div[float] > input { margin: 0; translate: 0; width: 100%; }
#config-container > div[float] > input[type="text"] { border: transparent; width: 48px; }

#config-container > div[comment] { border: transparent; opacity: 0.75; cursor: default; height: fit-content; border-left: var(--window-border) solid var(--border-width); margin:0; }
#config-container > div[comment] > span { white-space: normal; translate: none; position: none; top: 0; line-height: 0.9; }


input[type="range"]
{
    -webkit-appearance: none;
    appearance: none;
    background: transparent;
    cursor: pointer;
}
input[type="range"]:focus {
    outline: none;
}
input[type="range"]::-webkit-slider-runnable-track
{
    background-color: var(--window-border);
    border-radius: 0px;
    height: 1.5px;
}
input[type="range"]::-webkit-slider-thumb
{
    -webkit-appearance: none;
    appearance: none;
    margin-top: -7.5px;
    background-color: var(--text);
    border: transparent;
    height: 1rem;
    width: 2px;
    outline: transparent;
}
#config-options { display: flex; height: 20px; }
#config-options > button
{
    width: 128px;
    margin: 0;
    font-size: 20px;
    line-height: 0.5;
}
#config-options > input
{
    width: 100%;
}

#hover-info
{
    background-color: var(--overline);
    position: fixed;
    left: 0; top: 0;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    cursor: none;
}

#instance-description { width: calc(100% - 24px); }

/* Popup */
#popup-container
{
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh;
    text-align: center;
    z-index: 100;
    background: #00000050;
}
#popup-container > div
{
    position: fixed;
    top: 50%; left: 50%;
    translate: -50% -50%;
    min-width: 32px;
    min-height: 32px;
    padding: 16px;
    background: var(--primary-color);
}
#popup-container > div > p { margin-bottom: 16px; }
#popup-container > div > div:first-of-type { display: flex; width: 100%; text-align: center; direction: rtl; }
#popup-container > div > div:first-of-type > button { margin-left: 8px; }
#popup-container > div > div:first-of-type > button:last-of-type { margin-left: 0; }

#youtube-search
{
    width: 100%; height: 100%;
    overflow: hidden;
}
#youtube-search > input
{
    width: calc(100% - 10px); height: 16px;
    border-left: 0; border-right: 0; border-top: 0;
}
#youtube-search > div
{
    width: calc(100% - 8px); height: calc(100% - 64px);
    overflow-y: scroll;
    padding: 8px;
    flex-wrap: wrap;
    display: flex;
    padding-right: 0;
    overflow-x: hidden;
}
#youtube-search > div > div
{
    display: block;
    min-width: 256px;
    /* max-width: 358.4px; */
    /* height: 238px; */
    /* max-height: 238px; */

    margin: 16px;
    flex: 1 1 0;
    cursor: pointer;
}
#youtube-search > div > div > h4
{
    margin: 0;
    line-break: anywhere;
    display: -webkit-box;
    line-break: anywhere;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    max-height: 100%;
    font-size: large;
}

#youtube-search > div > div > div
{
    background-repeat: no-repeat;
    background-image: url("https://i.ytimg.com/vi/Tt3J7dcHcYc/hq720.jpg?sqp=-oaymwEcCNAFEJQDSFXyq4qpAw4IARUAAIhCGAFwAcABBg==&rs=AOn4CLCvwviqvQ2rymEHzfreYJLA0urTOQ");
    z-index: -1;
    position: relative;
    background-size: contain;
    opacity: 0.8;
    transition: all 200ms;
}
#youtube-search > div > div > div > img
{
    width: 100%;
    backdrop-filter: blur(7px) saturate(1.3);
    padding: 25px;
    margin: -25px;
    transition: all 200ms;
}
#youtube-search > div > div:hover > div > img { backdrop-filter: blur(10px) saturate(1.5) brightness(1.1); }
#youtube-search > div > div:hover > div { opacity: 1; }

label:has(>#synitra) { padding-left: 28px; }

#file-move-indicator
{
    width: 100%;
    background-color: var(--overline);
    height: 2px;
    margin-top: -2px;
    translate: 0 1px;
}

#saves-panel > #select { overflow: hidden; }
#saves-panel > #select > div:first-of-type
{
    display: flex;
    height: fit-content; width: 100%;
    border-bottom: none;
}
#main > div:first-of-type > button { height: 100%; }
#saves-panel > #select > #saves-panel > #select > div:last-of-type
{
    display: block;
    height: 100%; width: 100%;
}
#saves-panel > #select > div:last-of-type > div { display: inline-flex; padding: 8px; width: 320px; }
#saves-panel > #select > div:last-of-type > div > img { min-width: 72px; max-width: 72px; height: fit-content; padding-right: 8px; cursor: pointer; transition: all 100ms; }
#saves-panel > #select > div:last-of-type > div > img:hover { filter: brightness(0.9); }
#saves-panel > #select > div:last-of-type > div > div > h4 { margin: 0; font-weight: bolder; font-size: x-large; }
#saves-panel > #select > div:last-of-type > div > div > p:first-of-type
{
    opacity: 0.8;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}
#saves-panel > #select > div:last-of-type > div > div > p { opacity: 0.5; }

#saves-panel > #select > div:last-of-type > div[selected] { filter: opacity(0.7); }

#saves-panel > #select > input
{
    width: -webkit-fill-available;
    border-top: 0;
}

#saves-panel > #select > #finish
{
    position: fixed;
    bottom: 16px; right: 16px;
    font-size: larger;
}

#saves-panel > #select > #container { padding: 8px; }
#saves-panel > #select > #container > * { vertical-align:top; }
#saves-panel > #select > #container > button {margin: 4px;margin-top: 0;}
#saves-panel > #select > #container > div {display: inline-flex;margin-left: 8px;margin-bottom: 8px;cursor: pointer;max-width: 33%;border: var(--text) 1px solid;}
#saves-panel > #select > #container > div:hover{background: #ffffff20}
#saves-panel > #select > #container > div > img
{
    height: 64px;
    margin-right: 4px;
}
#saves-panel > #select > #container > div > div > h4
{
    margin: 4px; margin-left: 0;
    font-weight: 500;
    color: var(--text);
    font-size: larger;
}
#saves-panel > #select > #container > div > div > p { opacity: 0.75; }

#saves-panel { height: calc(100% - 25px); }
#pack-explorer { overflow: hidden; }
#saves-panel > #view > div:first-of-type
{
    width: 100%;
    height: 16px;
    border-bottom: var(--text) solid var(--border-width);
    padding: 8px;
    display: flex;
}
#saves-panel > #view > div:first-of-type > button { margin: 0; padding: 0; border: none; width: 16px; }
#saves-panel > #view > div:first-of-type > h2 { margin: 0; margin-left: 8px; }

label:has(#filter-version-browsing)
{
    min-width: 128px;
    margin-left: 8px;
    margin-top: 4px;
}

#pack-editor > input
{
    margin: 4px;
    font-size: large;
    width: calc(50% - 16px);
}
#pack-editor div:has(table)
{
    height: 512px;
    max-width: 256px;
    overflow-x: hidden;
    overflow-y: auto;

    width: 50%;
    margin: 4px;
    display: block !important;
    padding: 0;
}
#pack-editor div:has(table)::-webkit-scrollbar { display: none; }
#pack-content-explorer
{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0 !important;
    right: 0;
    height: calc(100% - 75px);
    overflow-x: hidden;
}
#pack-editor > div:last-child
{
    position: absolute;
    bottom: 8px; left: 8px;
    display: flex;
}
#pack-editor > div:last-child > button { margin-left: 8px; }

/* Content Editor */
#content-editor { height: calc(100% - 25px); overflow: hidden; display: block; }
#content-editor > div:last-of-type { width: 100%; height: calc(100% - 27px); overflow: hidden; display: flex; }
#content-editor > div:last-of-type > div:last-of-type
{
    width: 100%;
    height: 100%;
    display: block;
    overflow-x: hidden;
}

#editor-container > div
{
    height: 100%;
    overflow-y: hidden;
}
#editor-container > #code-editor
{
    height: 100%;
    overflow-y: auto;
    overflow-x: auto;
    max-width: 100%;
}

#mod-content-editor { height: 100%; display: flex; max-width: 50%; display: none; min-width: 50%; overflow-x: auto; }
#mod-content-editor > button
{
    position: absolute;
    bottom: 8px;
    left: 8px;
    z-index: 10;
}
#mod-content-editor > button:first-of-type { background: #333399A0; border: none; }
#mod-content-editor > button:first-of-type:hover { background: var(--overline) !important; color: var(--text) !important; border: var(--text) 1px solid !important; opacity: 1 !important; }
.content-explorer-section
{
    padding: 2px;
    padding-bottom: 0;
    padding-top: 0;
    display: block;
    min-width: 7em;
    max-width: 18em;
    height: 100%;
    background-color: #000;
    border-right: solid 1px var(--window-border);
    overflow-y: auto;
    overflow-x:hidden;
}
/* .content-explorer-section:first-of-type { margin-left: -16px; } */
.content-explorer-section > div { display: flex; }
.content-explorer-section > div > img
{
    height: 32px;
    padding: 5px;
    image-rendering: pixelated;
}
.content-explorer-section > div > h3
{
    margin: 0;
    padding-top: 13px;
    padding-bottom: 4px;
}
.content-explorer-section > button
{
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: none;
    padding: 4px;
    text-align: left;
}
.content-explorer-section > button:not(:disabled)
{
    border: none;
    padding: 4px;
}
.content-explorer-section > button[selected]
{
    text-decoration: underline;
    background-color: var(--overline);
}
.content-explorer-section > button[selected] { color: var(--text); text-decoration: underline; background-color: var(--overline); }
.content-explorer-section > button > img { height: 24px; margin-right: 4px; image-rendering: pixelated; }
.content-explorer-section > button > span { margin-top: 6px; }
.content-explorer-section > button:has(> img) { display: flex; }

#code-editor{ height: 100%; width: 100%; overflow: auto; }
#code-editor > .exit-options
{
    position: absolute;
    bottom: 8px;
    right: 8px;
}
#code-editor > .exit-options > button:first-of-type:not(:disabled) { border-right: none; }
#code-editor > .ͼ1 .cm-scroller { overflow: hidden; }
#code-editor > .cm-editor{width: fit-content;}

#nbt-editor
{
    overflow-y: auto;
    overflow-x: hidden;
    padding: 8px;
    width: 100%;
    height: 100%;
    overflow-y: auto;
}
#nbt-editor > div { display: flex; }
#nbt-editor button { margin-bottom: 8px; }

#no-editor { width: 100%;}
#no-editor > div
{
    position: relative;
    top: 50%; left: 50%;
    translate: -50% -50%;
    text-align: center;
    width: 100%;
}
#no-editor > div > div
{
    display: flex;
    width: 100%;
    text-align: center;
}
#no-editor > div > div > button
{
    left: 50%;
    translate: -100% 0;
    position: relative;
    margin: 8px;
    height: 32px;
}
#no-editor input { display: none;}

#content-editor .expend
{
    position: absolute;
    bottom: 0px;
    left: 0;
    top: calc(100% - 17px);
    border: none !important;
    min-height: 16px; min-width: 16px;
    height: 16px; width: 16px; padding: 0; margin: 0;
    display: none;
}
#content-editor .unexpend
{
    position: absolute;
    bottom: 0px;
    left: calc(50% - 17px);
    top: calc(100% - 17px);
    border: none !important;
    min-height: 16px; min-width: 16px;
    height: 16px; width: 16px; padding: 0; margin: 0;
}

#image-editor
{
    width: 100%;
    overflow: hidden;
}
#image-editor > div:first-child
{
    display: flex;
    width: fit-content;
    text-align: center;
    left: 50%;
    translate: -50% 0;
    position: relative;
    z-index: 20;
}
#image-editor > div:first-child > button
{
    position: relative;
    margin: 8px;
    height: 32px;
    background-color: var(--primary-color);
}
#image-editor > div:first-child > button:hover { background-color: var(--text); }
#image-editor > div:last-child > button
{
    image-rendering: pixelated;
    background-size: 75% 75%;
    background-position: 50% 50%;
    background-repeat: no-repeat;
}
#image-editor > div:last-child > button:hover { background-size: cover; }
#image-editor > div:last-child > button:nth-child(1) { background-image: url(../resources/draw.png); }
#image-editor > div:last-child > button:nth-child(2) { background-image: url(../resources/erase.png); }
#image-editor > div:last-child > button:nth-child(5) { background-image: url(../resources/lock\ alpha.png); ; }
#image-editor > div:last-child > button:nth-child(6) { background-image: url(../resources/lock\ opacity.png); }
#image-editor > div:last-child > button:nth-child(7) { background-image: url(../resources/paint.png); }
#image-editor input[type="color"]
{
    display: block;
    border: transparent;
    outline: transparent;
    size: 0;
    width: 0;
    height: 0;
    opacity: 0;
}
#image-editor input[type="range"]
{
    height: 36px;
    padding: 0;
    margin: 0;
    margin-left: 12px;
}
#image-editor input[type="file"] { display: none;}
#image-editor > canvas
{
    position: relative;
    top: 50%; left: 50%;
    translate: -50% -50%;
    text-align: center;
    height: calc(80% - 32px);
    image-rendering: pixelated;
    transition: none;
}
#image-editor > div:last-child
{
    display: flex;
    width: 100%;
    text-align: center;
    position: absolute;
    padding: 8px;
    bottom: 0;
}
#image-editor > div:last-child > button
{
    width: 32px; height: 32px;
    border: none !important;
    transition: all 0 !important;
}
#image-editor > div:last-child > button[current]
{
    outline: solid var(--text) 2px !important;
}

#three-editor
{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}
#three-editor > canvas
{
    width: 100%;
    height: 100%;
    margin: 0; padding: 0;
    max-width: 100%;
}
#three-editor > div
{
    position: relative;
    top: 8px; left: 8px;
    background-color: #000;
    padding: 8px;
    display: flex;
    width: fit-content;
}
#three-editor > div > button { width: 32px; height: 32px; margin: 0; margin-left: 4px; background-size: cover; image-rendering: pixelated; border: none; opacity: 0.5; }
#three-editor > div > button[selected] { opacity: 1; }
#three-editor > div > button:nth-child(1) { background-image: url(../resources/wire.png); }
#three-editor > div > button:nth-child(2) { background-image: url(../resources/flat.png); }
#three-editor > div > button:nth-child(3) { background-image: url(../resources/shaded.png); }
#three-editor > div > select { margin: 0; margin-left: 8px; }
/* #three-editor > div > button:first-of-type { margin: 0; margin-left: 0; } */

#content-element-selector { width: 100%; overflow: auto; height: 100%; }
#content-element-selector > button { position: absolute; left: 50%; translate: -50% 0; }
#content-element-selector > table {display: none;border: none;}
#content-element-selector > table th { cursor: pointer; }

#content-element-selector > table th { background: #00000000; color: #FFFFFF80; }
#content-element-selector > table th:first-of-type { background: #33339950; color: var(--text); }
#content-element-selector > table thead > tr:first-of-type th { background: #33339950; color: var(--text); }

#content-element-selector > table th:hover { background: #33339950; color: var(--text); }
#content-element-selector > table th:first-of-type:hover { background: #333399B0; color: var(--text); filter: brightness(1.4); }
#content-element-selector > table thead > tr:first-of-type th:hover { background: #333399B0; color: var(--text); filter: brightness(1.4); }

#multiple-source { width: 100%; display: none; }
#multiple-source > div { position: relative; top: 50%; left: 50%; translate: -50% -50%; width: fit-content; }
#multiple-source > div > p { text-align: center; width: 100%; }
#multiple-source > div > button { margin-left: 8px; }
#multiple-source > div > button:last-of-type { margin-left: 0; }

#apply-editor
{
    width: 100%;
}
#apply-editor > div { padding: 4px; }
#apply-editor button { margin: 0; }

#apply-editor > div > div { display: flex; padding-left: 4px; padding-bottom: 4px; }
#apply-editor > div > div button {margin: 0; border-right: 0;}
#apply-editor > div > div button:last-of-type {margin: 0; border-right: 1px solid var(--text);}
#apply-editor > div > div > p { margin-top: 7px; margin-right: 8px; cursor: pointer; }
#apply-editor > div > div > p:hover { text-decoration: underline; }

#apply-editor > button
{
    position: absolute;
    bottom: 8px;
    left: 8px;
}
#apply-editor > div:last-of-type
{
    position: absolute;
    bottom: 8px;
    right: 8px;
}

#launch-required
{
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
    background-color: var(--primary-color);
    position: absolute;
}
#launch-required > div
{
    width: fit-content; height: fit-content;
    position: absolute;
    top: 50%; left: 50%;
    translate: -50% -50%;
    text-align: center;
}
#launch-required > div > button
{
    position: absolute;
    left: 50%; translate: -50% 0;
}


/* Loading Screen */
#loading-screen
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #00000080;
    z-index: 100;
    display: none;
}
#loading-screen > div
{
    position: fixed;
    width: fit-content; height: fit-content;
    left: 50%; top: 50%;
    translate: -50% -50%;
}
div.loading
{
    background: linear-gradient(to right, var(--overline) 0%, var(--overline) 20%, var(--primary-color) 20%, var(--primary-color) 100%);
    min-height: 12px;
    width: 50vw;
}

#background-tasks
{
    width: calc(50% - 54px);
    height: calc(100% - 28px);
    overflow-x: hidden;
    overflow-y: auto;
}
#background-tasks > div
{
    display: inline-flex;
    width: fit-content;
    height: calc(100% - 8px);
    background-color: #000000a0;
    background-image: linear-gradient(90deg, var(--overline) 99.9%, #00000000 99.9%);
    margin: 4px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -1024px 0;
    transition: all 100ms;
}
#background-tasks > div > span
{
    margin-top: 7px;
    margin-left: 4px;
    margin-right: 4px;
}
#background-tasks > div > img
{
    width: 18px;
    height: 18px;
    margin: 3px;
}